[submodule "trainer"]
	path = ml_framework
	url = git@gitlab.com:fantine/trainer.git
[submodule "hptuning"]
	path = hptuning
	url = git@gitlab.com:fantine/hptuning.git
[submodule "plot_utils"]
	path = plot_utils
	url = git@gitlab.com:fantine/plot-utils.git
[submodule "processing_utils"]
	path = processing_utils
	url = git@gitlab.com:fantine/processing-utils.git
[submodule "cwt"]
	path = cwt
	url = git@gitlab.com:fantine/continuous-wavelet-transform.git
